@use './reset.scss';

@use 'theme';

$road-black: #1a1a1a;
$dust-white: #f4f1ec;
$faded-sand: #d9d1c7;
$burnt-orange: #c4512d;
$muted-rust: #a65a3a;
$asphalt-gray: #2f2f2f;

$info: #5c7a8d;
$success: #5e8c61;
$warning: #d98c3a;
$error: #a94438;


@use 'components/accordion';
@use 'components/alert';